@charset "UTF-8";
@font-face {
    font-family: fonte;
    src: url(fontes/idroid.otf);
}

* {
    margin: auto;
}

.fonte { 
    color:#1A5C38;
    font-family: fonte;
} 

#nafo {
    background-color: #1A5C38;
    color:aliceblue
}

body {
    font-size: 1em; 
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(to bottom, #84E1AD, #1A5C38);
}

main {
    background-color: white;
    border: 100px;
    margin: 0px 150px 10px; 
    padding: 1em;
}

h2 {
    margin: 0.5em 0em;
}

h3 {
    background-image: linear-gradient(to right, #84E1AD, transparent);
    padding: 0em 0.5em;
}

h4 {
    background-color: #1A5C38;
    margin: 0%;
    border: 100px;
    color: white;
}

.tab{
    text-indent: 1em;
    text-align: justify;
}

aside {
    margin: 10px;
    background-color: #84E1AD;
    border-radius: 1em;
    padding: 0.5em;
}

.centro {
    text-align: center;
    color: white;
}
#cab {
    color:white;
    background-color: #1A5C38;
}

.sombra {
    box-shadow: rgba(0, 0, 0, 0.125);
}

div {
    display: inline-block;
}

div:hover {
    color: #5C1F1A;
}

ul {
    display: inline-block;
}

span {
    text-decoration: underline;
}